<!DOCTYPE html>
<html>
<head>
    <title>Select a Vending Location</title>
</head>

<body>
    <h1>Select a Vending Location</h1>
    <form id="locationForm" action="/hotspotSel" method="get">
        <select name="location" id="locationSelect" required>
            <option value="">Select...</option>
            <option value="premnagar_market">Premnagar Market</option>
            <option value="ballupur_chowk">Ballupur Chowk</option>
            <option value="ghanta_ghar_market">Ghanta Ghar Market</option>
            <option value="rajpur_road">Rajpur Road</option>
        </select>
        <input type="submit" value="View Hotspots" onclick="setAction()">
    </form>

    <script>
        function setAction() {
            const selectedLocation = document.getElementById("locationSelect").value;
            if (selectedLocation) {
                // Store the selected location in local storage
                localStorage.setItem("selectedLocation", selectedLocation);

                const form = document.getElementById("locationForm");
                form.action = `/hotspotSel?location=${selectedLocation}`;
            } else {
                alert("Please select a location.");
            }
        }
    </script>
</body>
</html>
